Basic EDA - Info, shape

Handling Missing Values

Handling Outliers

Handling Skewness

Categorical Data Encoding

Data Normalization or Scaling

Feature Engineering

In [2]:
#  load data
df = pd.read_csv("project1_df.csv")
df.head()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CID                    55000 non-null  int64
 1   TID                    55000 non-null  int64
 2   Gender                 55000 non-null  object
 3   Age Group              55000 non-null  object
 4   Purchase Date          55000 non-null  object
 5   Product Category       55000 non-null  object
 6   Discount Availed       55000 non-null  object
 7   Discount Name          27415 non-null  object
 8   Discount Amount (INR)  55000 non-null  float64
 9   Gross Amount           55000 non-null  float64
 10  Net Amount             55000 non-null  float64
 11  Purchase Method        55000 non-null  object
 12  Location               55000 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 5.5+ MB